<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @company.year %>
</p>

<% @company.developers.each do |dev|%>
Name : <%= dev.name%><br/><br/>
Email : <%= dev.email%><br/><br/>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
